.footer__top {
  background-color: #e9ecef;
  color: #545b62;
}

.footer__bottom {
  background-color: #dee2e6;
  color: #545b62;
}

.footer__bottom__p {
  margin: 0;
  font-size: 0.9rem;
}

a {
  color: #28a745;
  font-weight: bold;
}

a:hover {
  color: #28a745;
}

.footer__top__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer__top__description p {
  font-size: 0.9rem;
  margin: 0;
}

h3 {
  font-size: 1rem;
}
