.postCompany__form,
.postCompany__title {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 0 0 20px 0;
}

.postCompany__title h1 {
  font-size: 1.5rem;
  margin: 0;
}
